@import 'libs/fonts';

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/footer';

.container {
    width: 1600px;
    margin: 0 auto;
    padding: 0 24px;
}

* {
    font-family: 'Gotham';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.line {
    border: 1px solid #e2e4f0;

    &.m48 {
        margin: 48px 0;
    }
}

.hide {
    display: none !important;
}